<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar navbar-dark green">
    <logo><a class="navbar-brand" href="#">Web frameworks</a></logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/main']" class="nav-link waves-light" mdbRippleRadius>Cards</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/activity2']" class="nav-link waves-light" mdbRippleRadius>Search Pokémon</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                        <a [routerLink]="['/activity3']" class="nav-link waves-light" mdbRippleRadius>See Cards</a>
                    </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                        <a [routerLink]="['/activity4']" class="nav-link waves-light" mdbRippleRadius>See Types</a>
                    </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                        <a [routerLink]="['/activity5']" class="nav-link waves-light" mdbRippleRadius>Pokédex</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/activity6']" class="nav-link waves-light" mdbRippleRadius>Trainers</a>
            </li>
            </ul>
        </links>
</mdb-navbar>
