

<div class="container">
    <div class="row">
     
      <div class="col-md-2">
                   <h6><B>Search Pokémons</B></h6>
                    <input type="text" class="form-control" [(ngModel)]="Search">    
      </div>
      
      <div class="col-md-10">
          <div class="card" *ngIf="Pokemon">
              <div class="card-header">Cards from {{_search}}</div>
              <div class="card-block">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>name</th>
                              <th>rarity</th>
                              <th>type</th>
                              <th>hp</th>
                              <th>evolves From</th>
                              <th>Card</th> 
                              
            
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let d of Pokemon.cards" >      <!-- | async -->
                              <td >{{d.name}}</td>
                              <td>{{d.rarity}}</td>
                              <td>{{d.types}}</td>
                              <td>{{d.hp}}</td>
                              <td>{{d.evolvesFrom}}</td>
                              <td> <img style="width:200px" style="height: 200px" 
                                src= {{d.imageUrl}}
                                alt="foto pokemon"></td>
                              
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
      </div>
      
      <div class="col-md-0" >
       <!--   <img style="width:300px" style="height: 300px" 
          src= {{d.imageUrl}}
          alt="foto pokemon">-->
      </div>
      
    </div>
  </div>
