
<div class="row" >
  <div class="col-md-3">
      
  </div>
  <div class="col-md-6"  >
      
<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" height="650px" src="./assets/iniasfoto.jpg"  alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center" style="background-color:rgb(64, 161, 64)">

    <!-- Title -->
    <h4 class="card-title"><strong>Inias Somers</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Informatie project:</h6>
    <!-- Text -->
    <p class="card-text" style="-webkit-text-fill-color: gainsboro">
      Ik heb de Rest Api van Pokémon TCG gebruikt. <br>
      in de activity's heb ik gebruik gemaakt van REST functionaliteiten zoals paging <br> en heb ik een Search/filter mogelijkheden toegepast.<br>
      Dan in de activity's van Trainers en own Pokemons dan pas ik mijn eigen Rest Api toe.<br>
      je gaat pas je eigen pokemons (own pokemons) kunnen zien als je ingelogd bent!<br>
      ik wouw eerst via firebase the authentication doen maar dat is uiteindelijk niet gelukt<br>
      dus heb ik een alternatief verzonnen ,<br>alleen heb ik nog niet kunnen regelen dat de nieuwe users die je aanmaakt in een database worden opgeslagen.<br>
      
     
    </p>

  

  </div>

</div>
<!-- Card -->
            
  </div>
  <div class="col-md-3"> <!-- md-3 groote row (totaal 12)      -->
      
  </div>    
</div>

            
