<div class="row">
  <div class="col-md-3">
      
  </div>
  <div class="col-md-6" >
      
<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" height="600px" src="https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/18836610_824354341055360_1231381052695179804_o.jpg?_nc_cat=0&oh=076327c2aabf3a23f8d8f0cad195e7fe&oe=5B58970B" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Mijn Project</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Inias Somers</h6>
    <!-- Text -->
    <p class="card-text">informatie over mijn project!!!
    </p>

  

  </div>

</div>
<!-- Card -->
            
  </div>
  <div class="col-md-3"> <!-- md-3 groote row (totaal 12)      -->
      
  </div>    
</div>
            
