<div style="background-image: url(./assets/pokemonbackground.jpg); height:1000px; width: 100%">
<div class="container" style="height: 100%; ">
  <div class="row" >
   
      
    
    <div  class="col-md-8" >
        <h5><B>Search Pokemon in database with id</B></h5>
        <input type="text" class="form-control" [(ngModel)]="Search">  

      <div class="text-center" style="padding-top: 150px;" >
          <img class="grow"  style="width:400px" style="height: 400px" 
          src= {{Pokemon.image}}
          alt="foto pokemon">
        </div>
  </div>
    
  </div>
</div>
</div>
